<h1>Todos as Entradas</h1>

<%= link_to 'Cadastrar Novo', entries_new_path %>
<table>
  <tr>
    <th>Data de Solicitação</th>
    <th>Operador</th>
    <th>Status</th>
    <th>Efetuar recebimento</th>
    <th>Visualizar</th>
  </tr>
  <% @entries.each do |entry|%>
    <tr>
      <td><%= entry.requested_date %></td>
      <td><%= entry.requested_user.email %></td>
      <td>
      <% if entry.receive_date.nil? %>
        Aguardando Entrega
      <% else %>
        Concluído
      <% end %>
        
      </td>

      <td>
      <% if entry.receive_date.nil? %>
        <%= link_to image_tag('icon_edit.png'), entries_receive_path(entry.id) %>
      <% end %>
        
      </td>
      <td><%= link_to image_tag('icon_view.png'), entries_show_path(entry.id) %></td>
    </tr>
  <% end %>
</table>