<h1>Cadastrar novo Entrada de Material</h1>
<%= form_tag entries_create_path do %>
  <p>
    <%= label_tag :requested_date, 'Data de Recebimento:' %><br />
    <%= datetime_local_field(:entry, :requested_date) %><br />
  </p>

  <p id="new_material_list">
      <%= label_tag :material, 'Material 1:' %><br />
      <%= select_tag 'material[id][0]', options_from_collection_for_select(@materials, 'id', 'name') %><br />
      <%= label_tag :amount, 'Quantidade:' %><br />
      <%= number_field_tag 'material[amount][0]' %><br /><br />
  </p>
  <p>
    <input type="button" id="new_material" value="adicionar" class="btn btn-info" />
  </p>
  <%= submit_tag "Salvar", class: 'btn btn-success' %>
<% end %>
