<h1>Cadastrar novo Entrada de Material</h1>
<%= form_tag entries_update_path(params[:id]) do %>
  <p>
    <b><%= label_tag :requested_date, 'Data do Pedido:' %></b>:
    <%= label_tag :requested_date, @entry.requested_date %><br />
  </p>

  <p>
      <b><%= label_tag :receive_date, 'Data de Recebimento:' %></b><br />
      <%= datetime_local_field(:entry, :receive_date) %><br />
  </p>

  <table>
    <tr>
      <th>Material</th>
      <th>Solicitado</th>
      <th>Recebido</th>
    </tr>
    <% @entry.material_entry.each_with_index do |entry,index|%>
      <tr>
        <td><%= entry.material.name %></td>
        <td><%= entry.requested_amount %></td>
        <td>
          <%= number_field_tag "material[amount][#{index}]" %>
          <%= hidden_field_tag "material[id][#{index}]", entry.id %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Update", class: 'pull-right btn btn-default btn-success' %>
<% end %>
