<h1>Entrada de Material</h1>

<p><strong>Solicitante:</strong> <%= @entry.requested_user.email %></p>
<p><strong>Data de Solicitação:</strong> <%= @entry.requested_date %></p>
<p><strong>Data do Recebimento:</strong> <%= @entry.receive_date %></p>
<p><strong>Usuário que Recebeu:</strong> <%= @entry.user_receive.email unless @entry.user_receive.nil? %></p>
<p><strong>Material:</strong> 
  <table>
    <tr>
      <th>Material</th>
      <th>Quantidade Solicitada</th>
      <th>Quantidade Recebida</th>
    </tr>
    <% @entry.material_entry.each do |materials| %>
      <tr>
        <td><%= materials.material.name %></td>
        <td><%= materials.requested_amount %></td>
        <td><%= materials.amount_received %></td>
      </tr>
    <% end %>
  </table>
</p>