<h1>Todos os Usuários</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Ativar</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <% if user.active.zero? %>
          <%= link_to 'Ativar', users_active_path(user.id)%>
        <% else %>
          Ativo
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
