<h1>Todos as Saídas</h1>

<%= link_to 'Nova Saída', leaves_new_path %>
<table>
  <tr>
    <th>Data de Solicitação</th>
    <th>Funcionário</th>
    <th>Departamento</th>
    <th>Solicitante</th>
    <th>Visualizar</th>
  </tr>
  <% @leaves.each do |leave|%>
    <tr>
      <td><%= leave.requested_date %></td>
      <td><%= leave.employee.email %></td>
      <td><%= leave.requesting_sector.name %></td>
      <td><%= leave.requested_person%></td>
      <td><%= link_to image_tag('icon_view.png'), leaves_show_path(leave.id) %></td>
    </tr>
  <% end %>
</table>
