<h1>Efetuar saída de Material</h1>
<%= render partial: "materials/all_material" %>

<%= form_tag leaves_create_path do %>
  <p>
    <%= label_tag :requested_date, 'Data de Recebimento:' %><br />
    <%= datetime_local_field(:leave, :requested_date) %><br />
  </p>
  <p>
    <%= label_tag :requested_person, 'Nome do Solicitante:' %><br />
    <%= text_field_tag 'leave[requested_person]', nil, placeholder: 'Digite o nome da pessoa solicitante' %><br />
  </p>
  <p>
    <%= label_tag :requesting_sector, 'Setor:' %><br />
    <%= select_tag 'leave[sector]', options_from_collection_for_select(@sector, 'id', 'name') %><br />
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Adicionar</button>
  </p>

  <p id="new_material_list">
      <%= label_tag :material, 'Material 1:' %><br />
      <%= select_tag 'material[id][0]', options_from_collection_for_select(@materials, 'id', 'name') %><br />
      <%= label_tag :amount, 'Quantidade Fornecida:' %><br />
      <%= number_field_tag 'material[amount][0]' %><br /><br />
  </p>
  <p>
    <input type="button" id="new_material" value="adicionar" class="btn btn-info" />
  </p>
  <%= submit_tag "Salvar", class: 'btn btn-success' %>
<% end %>
<hr />


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adicionar Setor</h4>
      </div>
      <div class="modal-body">
        <label>Nome do Setor:</label>
        <input type="text" name="sector_name" id="sector_name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" id="save_sector">Salvar</button>
      </div>
    </div>

  </div>
</div>
