<h1>Saída de Material</h1>

<p><strong>Solicitante:</strong> <%= @leave.employee.email %></p>
<p><strong>Data do Recebimento:</strong> <%= @leave.requested_date %></p>
<p><strong>Nome do recebedor:</strong> <%= @leave.requested_person %></p>
<p><strong>Setor:</strong> <%= @leave.requesting_sector.name %></p>
<p><strong>Material:</strong>
  <table>
    <tr>
      <th>Material</th>
      <th>Quantidade Entregue</th>
    </tr>
    <% @leave.material_leave.each do |materials| %>
      <tr>
        <td><%= materials.material.name %></td>
        <td><%= materials.amount_received %></td>
      </tr>
    <% end %>
  </table>
</p>
