/*
// * This is a manifest file that'll be compiled into application.css, which will include all the files
// * listed below.
// *
// * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
// *
// * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// * files in this directory. Styles in this file should be added after the last require_* statement.
// * It is generally better to create a new file per style scope.
// *
// *= require_tree .
// *= require_self
// */

@import "bootstrap-sprockets"
@import "bootstrap"

.alertContainer
  display: flex
  flex-direction: column
  width: 250px
  position: absolute
  top: 64px
  right: 0
  z-index: 9999

.alert.alert-success,
.alert.alert-notice,
.alert.alert-error
  border-radius: 0
  color: #FFF
  box-shadow: 2px 2px 10px #777
  padding: 10px
  margin: 0
  border: none
  width: 250px
  z-index: 100


.alert.alert-success
  background: #73d97d


.alert.alert-notice
  background: #388de2


.alert.alert-error
  background: #e23838
