<table>
  <tr>
    <th>Nome</th>
    <th>Quantidade Disponível</th>
    <th>Alterar</th>
  </tr>
  <% @materials.each do |material|%>
    <tr>
    <td><%= material.name %></td>
    <td><%= material.total_amount %></td>
    <td><%= link_to image_tag('icon_edit.png'), materials_edit_path(material.id) %></td>
    </tr>
  <% end %>
</table>
