<h1>Alterar Material</h1>

<%= form_for @material, url: materials_update_path(@material.id) do |f| %>
  <%= f.label :name, 'Nome' %><br>
  <%= f.text_field :name %><br>
  <%= f.submit 'Alterar' %>

<% end %>