<h1>Cadastrar Material</h1>

<%= form_for @material, url: materials_create_path do |f| %>
  <%= f.label :name, 'Nome' %><br>
  <%= f.text_field :name %><br>
  <%= f.label :initial_amount , 'Quantidade'%><br>
  <%= f.text_field :initial_amount %><br>
  <%= f.submit 'Salvar'%>

<% end %>